body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    background-color: steelblue;
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    padding: 10px 20px; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
}

li {
    height: 40px;
    line-height: 40px;
}

span {
    width: 0;
    height: 40px;
    background-color: red;
    color: white;
    display: inline-block;
    text-align: center;
    transition: 0.5s linear;
    opacity: 0;
    margin-right: 15px;
}

li:hover span{
    width: 40px;
    opacity: 1;
}

li:nth-child(2n) {
    background-color: #d2d4d2;
}

.done {
    color: gray;
    text-decoration: line-through;
}

.fa-plus {
    float: right;
}

#new {
    height: 40px;
    width: 100%;
    font-size: 18px;
    outline: none;
    background-color: #d2d4d2;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 0 none rgba(0, 0, 0, 0.2);
}

#new:focus {
    background-color: white;
    border: 2px solid steelblue;
}

#container {
    width: 360px;
    margin: 100px auto;
}